@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

.section-one {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    background: #00BACF;
    background: linear-gradient(to right, #00626d 14%, #0AFFFF 28%, #5500FF 36%, #9D2EFF 45%, #F838FF 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleAnim 4s ease infinite alternate;
}

.container {
    width: 250px;
    padding: 20px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

img {
    margin: 0 auto;
}

#count, #count-tab, #count-tv {
    font-weight: bold;
    font-size: 30px;
}

.container p {
    text-align: center;
}

button {
    border: 1px solid purple;
    border-radius: 5px;
    background: purple;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    border: 1px solid rgb(54, 4, 54);
    background: rgb(54, 4, 54);
    scale: 1.05;
    transition: .2s;
    font-weight: bold;
}

@keyframes titleAnim {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 200%;
    }
    100% {
        background-size: 100%;
    }
}